{{#if template}}
<template>
  <section class="{{ name }}"></section>
</template>
{{/if}}

{{#if script}}
<script>
  export default {
    data() {
      return {}
    },

    created() { },

    methods: {}
  }
</script>
{{/if}}

{{#if style}}
<style lang="scss" scoped></style>
{{/if}}
